/* Structure */

body {
	background-color: #fff;
}

.wrapper {
  display: block;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#footer {
    position: fixed;
    bottom: 40px;
    z-index: 0;
}

.center {
    text-align: center;
}

#content {
    margin: auto;
    padding: 50px 0px 100px 0px;
    width: 40%;
}

#content img {
    max-width: 100%;
}

#contentBody {
    width: 80%;
}

/* Chonks */

.chunk {
    padding: 20px 0px 20px 0px;
}

.smallChunk {
    padding: 8px 0px 8px 0px;
}

.largeChunk {
    padding: 40px 0px 40px 0px;
}

.halfChonk {
    display: flex;
}

.halfChonk > div {
    flex: 1;
    padding: 20px 24px 20px 0px;
}

/* Fonts */

/* Fonts */

body {
    font-family: 'Poppins', sans-serif;
	font-size: 18px;
    line-height: 1.4em;
    color: #333333;
}

a {
	text-decoration: none;
	font-weight: 600;
    color: #000000;
    padding: 8px 8px 8px 8px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .1)
}

a.inline {
    padding: 0;
    border: none;
    background-color: rgba(44, 45, 47, .1);
}

a.inline:hover {
    border: none;
    text-decoration: underline;
}

a:hover, a:focus, .swappie:hover, #email:hover {
	color: #086ff8;
    background-color: rgba(44, 45, 47, .1);
    border: 1px solid #086ff8;
    text-decoration: underline;
}

h1 {
	font-size: 40px;
	color: #993cf3;
    font-weight: 600;
    line-height: 1.25em;
    margin: 0;
}

h2 {
	font-size: 32px;
	color: #333333;
	font-weight: 800;
	line-height: 2.5em;
    margin: 0;
}

h3 {
	font-size: 20px;
	color: #993cf3;
	font-weight: 600;
	line-height: 1.75em;
    margin: 0;
}

h4 {
    font-size: 20px;
    color: #565459;
    font-weight: 400;
    line-height:1.75em;
    margin: 0;
}

h5 {
    font-size: 14px;
	color: #565459;
    font-weight: 600;
    line-height: 2em;
    margin: 0px;
}

/* Responsive Rules */

/* Tablet */

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 32px;
        line-height: 36px;
    }
    
    h3 {
        font-size: 18px;
        line-height: 1.4em;
    }
}

/* Mobile */

@media only screen and (max-width: 400px) {
    h1 {
        font-size: 20px;
        line-height: 24px;
    }
    
    h3 {
        font-size: 16px;
        line-height: 1.5em;
        font-weight: 600;
    }
    
}

/* Tablet */

@media only screen and (max-width: 768px) {     

    #content {
        left: 200px;
        width: 75%;
    }

    .sidebar a {
        font-size: 16px;
    }
}

/* Mobile */

@media only screen and (max-width: 400px) {
    .sidebar, #menu {
        top: 80px;
    }

    .sidebar {
        display: initial;
        left: 6%;
    }

    #navRes {
        visibility: collapse;
    }

    #content {
        top: 80px;
        width: 75%;
        left: 24%;
    }
    
    .halfChonk {
        display: initial;
        width: 100%;
    }

    .halfChonk > div {
        padding: 20px 0px 20px 0px;
    }
    
}
